body {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
  }
  
  #container {
    width: 100%;
    max-width: 350px;
    height: auto;
    padding: 20px;
    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #calculator {
    width: 100%;
    
    background-color: hsl(210, 15%, 20%);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
  }
  
  #keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 50px;
  }
  
  .operator, .number, .empty {
    background-color: hsl(200, 25%, 40%);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .operator {
    background-color: hsl(35, 70%, 45%);
  }
  
  .empty {
    background-color: transparent;
    cursor: default;
    pointer-events: none;
  }
  
  .operator:hover, .number:hover {
    background-color: hsl(35, 70%, 55%);
    transform: translateY(-3px);
  }
  
  .operator:active, .number:active {
    background-color: hsl(35, 70%, 40%);
    transform: translateY(1px);
  }
  
  